body {
  background-color: #e5e5e5;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #3c3a39;
}

form input {
  position: absolute;
  width: 40%;
  height: 30px;
  margin-left: 25%;
  margin-right: auto;
  top: 50px;
  z-index: 1;
}

form button {
  width: 10%;
  height: 36px;
  border: none;
  color: white;
  background-color: #ff6b00;
  position: absolute;
  left: 67%;
  top: 50px;
  font-size: 2vh;
  font-weight: bold;
  z-index: 1;
}

.card {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
}

h2 {
  color: #091e42;
  text-align: center;
  font-size: 10vh;
  position: relative;
  top: -10px;
  padding-bottom: -200px;
}

h4 {
  color: #091e42;
  text-align: center;
  font-size: 7vh;
  position: relative;
  top: -60px;
  padding-bottom: -200px;
}

p {
  color: #091e42;
  text-align: center;
  font-size: 10vh;
  position: relative;
  top: -100px;
  padding-bottom: -200px;
}

img {
  width: 60%;
  margin-left: 20%;
  margin-right: auto;
  position: relative;
  top: -200px;
  height: 150px;
}

div #error {
  color: red;
  position: relative;
  top: 70px;
  font-size: 4vh;
}

.add-info {
  position: relative;
  top: -231px;
  margin-left: 13%;
  height: 0;
}

span {
  color: #091e42;
  font-size: 25px;
}

.btns {
  position: relative;
  top: 180px;
  left: 140px;
}

.btns button {
  width: 50px;
  padding: 5px;
  border: none;
  color: #091e42;
  font-weight: bold;
}

.btns #celcius {
  position: relative;
  right: 4px;
}

.btns button:hover {
  background-color: #ff6b00;
  color: #e5e5e5;
}
